/* Pre */
@import url('meyer-reset.css');
* {
	box-sizing: border-box;
}

header, footer , main {

}

section {

}

a {
	color: inherit ;
	display: block;

}

picture {
	display: block;
}

img {
	display:block;
	width: 100%
	height:auto;
}


/*Sturcture*/

body {
	display:flex;
	flex-direction:column;
	min-height: 100vh;
}

main {
	flex-grow 1;
}

inner-section {
	display:block;
	padding: 20px
	width: 90%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
	padding-bottom: 10vh;

}

header inner-section {
	padding: 10px
}
/* Typo*/

.text-one {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: bolder;
	font-family: sans-serif;
}

.text-two {
	font-size: 18px;
	color: #E5E7EB;
	font-family: sans-serif;

}

.text-tree {
	font-size: 36px;
	color: #1F2937;
	font-weight: bolder;
	font-family: sans-serif;
}

.text-four {
	font-size: 18px;
	font-family: sans-serif;
}

.text-five {
	font-size: 36px;
	color: #1F2937;
	font-style:italic;
}

.text-six{

	font-size: 24px;
	color: #F9FAF8;
	font-weight: bolder;
	font-family: sans-serif;
}

/*Config*/

html {
	--dark: #1F2937;
}


/*Components*/

.buttom {
	display: inline-block;
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 18px;
	padding: 0.6em 1em;
	border-radius: 6px;
}

.buttom2 {
	display: inline-block;
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 18px;
	padding: 0.6em 1em;
	border-radius: 6px;
	border: solid white;
	float: right;
	margin-right: 140px;
	margin-top: -50px;
}

product-content {
	display: block;
}

.jr {
	margin-top: 10px;
	text-align: right;
	font-weight: bolder;
}


/*Modules*/

area-one {
	display: block;
	gap: 20px;
	display: flex;
	flex-direction: column;

}

area-one picture {

	
}


area-one text-content {
	display: block;

}

area-one text-content p {
	margin-top: 10px;

}

area-one text-content .buttom {
	margin-top: 10px;

}

@media (min-width:700px) {
	area-one {
		flex-direction: row;
	}
	area-one :is(text-content, picture) {
		flex-basis: 50%;
	}
}

product-section {
	display: block;
}

product-section .product-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 2em;
}

product-section text-content p {
	margin-top: 10px;

}

product-section div {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;

}

quote-section {
	display: block;
	gap: 20px;
	display: flex;
	flex-direction: column;
}

quote text-content p {
	margin-top: 10px;
	text-align: center;
}

action-section {
	display: block;
	background-color: #3882F6;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 6px;

}
action-section text-content p {	
	margin-top: 10px;
	text-align: left;
	padding-left: 70px;
}

action-section text-content .buttom {
  display: block;
  margin-left: auto;
  margin-right: 0;
}




.welcome {
	background-color: #1F2937 ;
}

.quote {
	background-color: #E5E7EB	;
}